.App {
  background-color: #0E0C18;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #F1E0C5;
}

.App-header {
  min-height: 250px;
  min-width: 761px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Header-text {
  min-height: 206px;
  min-width: 473px;
  margin: 0 38px 0 0;
  text-align: right;
}

.Header-text__main {
  font-size: 75px;
}

.Header-text__sub {
  font-size: 30px;
  margin-top: -20px;
}

.Header-text__desc {
  font-size: 20px;
  margin: 20px 0 0 0;
}