:root {
  --background-color: #0E0C18;
  --background-secondary-color: #1A1824;
  --text-color: #c2bae7;
  --highlight-color: #7E50FD;
  --highlight-color-2: #CE6095;
  --highlight-color-3: #584F85;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: var(--text-color);
  background-color: var(--background-color);
  overflow-x: hidden;
}

.App {
  background-color: var(--background-color);
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-header {
  min-height: 250px;
  min-width: 50vw; /*761px*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.Header-text {
  min-height: 206px;
  min-width: 30vw; /*473px */
  margin: 0 38px 0 0;
  text-align: right;
}

.Header-text__main {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 75px; /*75px*/
}

.highlight1 {
  font-weight: 700;
  color: var(--highlight-color);
}

.highlight2 {
  font-weight: 400;
  color: var(--highlight-color-2);
}

.Header-text__sub {
  font-size: 30px; /*30px*/
  margin-top: -20px;
}

.Header-text__desc {
  font-size: 20px;
  margin: 20px 0 0 0;
}

.Header-text__sub, .Header-text__desc {
  font-family: 'Merriweather', serif;
  font-weight: 300;
}

.Header-image img {
  width: 16.276vw;
}