:root {
  --background-color: #241f38;
  --background-color-mobile: #090618;
  --background-secondary-color: #1A1824;
  --text-color: #c2bae7;
  --highlight-color: #7E50FD;
  --highlight-color-2: #CE6095;
  --highlight-color-3: #584F85;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: var(--text-color);
  overflow-x: hidden;
}

.App {
  background-color: var(--background-color);
  background-image: url("/public/bg-texture.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  background-attachment: fixed;
  
  min-height: 100vh; /*fallback*/
  min-height: 100dvh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-header {
  min-height: 250px;
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.Header-text {
  min-height: 206px;
  text-align: right;
}

.Header-text__main {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 60px;
}

.highlight1 {
  font-weight: 700;
  color: var(--highlight-color);
}

.highlight2 {
  font-weight: 400;
  color: var(--highlight-color-2);
}

.Header-text__sub {
  font-size: 30px;
  margin-top: -20px;
}

.Header-text__desc {
  font-size: 20px;
  margin: 20px 0 0 0;
}

.Header-text__sub, .Header-text__desc {
  font-weight: 300;
}

.Header-image img {
  width: 16.276vw;
}

@media (max-width: 768px) {
  .App {
    background-color: var(--background-color-mobile);
    background-image: none;
  }

  .App-header {
    flex-direction: column-reverse;
    min-height: unset;
    gap: 20px;
  }

  .Header-text {
    min-height: unset;
    text-align: center;
  }

  .Header-text__main {
    font-size: 45px;
  }

  .Header-text__desc {
    font-size: 18px;
  }

  .Header-image img {
    width: 45vw;
  }
}